*{
  margin: 0;
  padding: 0;
}
/* 
a{
  text-decoration: none;
} */

.loginInputStyle{
  color:white;
  background-color:rgba(0,0,0,0.6);
  border-radius:0;
}

.loginInputStyle:hover{
  background-color:'';
}
.loginInputStyle:focus-visible{
  background-color:''
}